<% if (locals.errors) { %>
    <% const passwordErrors = errors.filter(error => error.path === 'passwordConfirm'); %>
    <% if (passwordErrors.length > 0) { %>
        <% passwordErrors.forEach(error => { %>
            <p class="error"><%= error.msg %></p>
        <% }) %>
    <% } %>
<% } %>
