<% if (locals.errors) { %>
    <% const usernameErrors = errors.filter(error => error.path === 'username'); %>
<% if (usernameErrors.length > 0) { %>
        <% usernameErrors.forEach(error => { %>
            <p class="error"><%= error.msg %></p>
        <% }) %>
    <% } %>
<% } %>
