$backgroundLighter: #1f1d24;
$backgroundColor: #0f0f11;
$backgroundDarker: #060607;

$color: #c9c9c9;
$fontColor: #c9c9c9;

$buttonHover: #2d2c31;
$buttonColor: #19181a;

$mainLighter: #be3838;
$mainColor: #a72e2e;
$mainDarker: #6b1d1d;

$itemBackground: #19181b;
